# Ignore local spring configs
backend/src/main/resources/application-*.properties

# node modules and builds
frontend/node_modules
**/node_modules
**/target

# Environment files
.env
backend/.env
frontend/.env

# IDE files
.idea/
.vscode/

# Build artifacts
/target/
frontend/dist/
dist/

# Netlify
.netlify/
**/.netlify

# Others
*.log
/logs/
logs/
coverage/
