server.port=8080\n\nspring.datasource.url=jdbc:mysql://localhost:3306/adopcionesgatitos\nspring.datasource.username=YOUR_DB_USER\nspring.datasource.password=YOUR_DB_PASS\nspring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver\n\nspring.jpa.hibernate.ddl-auto=update\nspring.jpa.show-sql=true\nspring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect\n\nspring.thymeleaf.cache=false\nspring.profiles.active=dev\n
